html, body {
    height: 100%;
}
body {
    font: 400 16px 'Poppins', sans-serif;
    background:#fff;
    color: #000;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
body, body > * {
    box-sizing: border-box;
}
main {
    width: 100%;
    max-width: 950px;
    height: 100%;
    max-height: 620px;
    display: grid;
    grid-template-rows: auto 1fr;
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.8rem;
    margin: 0;
}
.card {
    border-top: solid 0.75rem #000;
    background: #DFE1E8;
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    align-items: end;
    justify-items: center;
}
.card .name {
    position: absolute;
    top: 7rem;
    max-width: 100%;
    margin: 3rem;
    z-index: 30;
}
.name h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 120%;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 30px #fff;
}
.name h2 strong {
    font-weight: 700;
    font-size: 3.3rem;
    display: block;
}
.name em {
    display: block;
    color: #fafafa;
    font-weight: 700;
    font-size: 9rem;
    font-style: normal;
    line-height: 100%;
    margin: -2.5rem 0;
    padding: 0;
}
h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    line-height: 100%;
}
.logo {
    width: 900px;
    filter: grayscale(1);
    opacity: 0.1;
    position: absolute;
    top: -200px;
    left: -150px;
    z-index: 10;
}
.profile {
    position: relative;
    margin: 0 auto;
    background-image: var(--bg-image);
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 20;
    padding-bottom: 2rem;
    max-width: 650px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}
.profile .headshot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 500px;
}
.profile .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    width: 100%;
    margin: 0 1rem;
}
.profile .feature {
    background: #fff;
    opacity: 0.9;
    border-radius: 1rem;
    padding: 1.25rem 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
}
.card .bio {
    position: absolute;
    top: 10rem;
    right: 0;
    max-width: 100%;
    margin: 3rem 6rem 3rem 3rem;
    z-index: 30;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2.5rem;
    row-gap: 1.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-shadow: 0px 0px 11px #fff;
}
.card .bio .data strong {
    font-weight: 700;
    display: block;
}

.container {
    display: flex;
}

.nav {
    margin-top: 248px;
    margin-left: 680px;
    position: absolute;
    transform: rotate(90deg);
    width: 573px;
    white-space: nowrap;
}

.nav ul {
    font-size: 0;
    float: right;
}

.nav li {
    display: inline-block;
    background-color: black;
    font-size: 18px;
    margin: 0;
    text-align: center;
    width: auto;
    padding: 3px 10px;
    font-weight: 700;
    white-space: nowrap;

}

.nav .active{
    background-color: #DFE1E8;
}

.nav .active a{
    color: black;
}



.nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

@media (max-width: 800px) {
    .card .bio {
        margin-right: 3rem;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    h2 {
        font-size: 6rem;
    }
}
